In [39]:
import pandas as pd

In [40]:
home = "MCI"
away = "RMA"

In [41]:
df = pd.read_csv("stats.csv")
df.head()

  Team    Player          Event
0  MCI   B.Silva  Passe Precise
1  MCI   Ederson  Passe Precise
2  MCI    R.Dias  Passe Precise
3  MCI  M.Akanji  Passe Precise
4  MCI    R.Dias  Passe Precise

In [42]:
player_event = df[["Player", "Event"]]
player_event

           Player          Event
0         B.Silva  Passe Precise
1         Ederson  Passe Precise
2          R.Dias  Passe Precise
3        M.Akanji  Passe Precise
4          R.Dias  Passe Precise
..            ...            ...
571  J.Bellingham        Dribble
572  J.Bellingham  Passe Precise
573   E.Camavinga  Passe Precise
574    ViniciusJR  Perte de Ball
575      M.Akanji   Interception

[576 rows x 2 columns]

# Pour Obtenir les stats d'un joueur spécifique

K_Mbappe = []

for index, player in df.iterrows():
    if player['Player'] == "K.Mbappe":
        K_Mbappe.append(player['Event'])
K_Mbappe

# Pour obtenir le nombre des Passes

In [43]:
types_de_passe = ["Passe Precise", "Passe Perdue", "Longue Passe Precise", "Longue Passe Perdue",
                "Passe en Profondeur","Centrage Precis", "Centrage non Precis", "Assiste"]

In [44]:
passes_Home = df[(df['Team'] == home) & (df['Event'].isin(types_de_passe))]
passes_Home

    Team      Player                 Event
0    MCI     B.Silva         Passe Precise
1    MCI     Ederson         Passe Precise
2    MCI      R.Dias         Passe Precise
3    MCI    M.Akanji         Passe Precise
4    MCI      R.Dias         Passe Precise
..   ...         ...                   ...
511  MCI     Savinho   Longue Passe Perdue
555  MCI      R.Dias         Passe Precise
556  MCI  K.DeBruyne          Passe Perdue
558  MCI      R.Dias   Longue Passe Perdue
568  MCI     Ederson  Longue Passe Precise

[255 rows x 3 columns]

In [45]:
passes_Away = df[(df['Team'] == away) & (df['Event'].isin(types_de_passe))]
passes_Away

    Team        Player                 Event
12   RMA    F.Valverde         Passe Precise
13   RMA   E.Camavinga         Passe Precise
14   RMA       Rodrgyo   Longue Passe Perdue
26   RMA       Rodrgyo         Passe Precise
27   RMA  J.Bellingham  Longue Passe Precise
..   ...           ...                   ...
563  RMA    D.Ceballos  Longue Passe Precise
564  RMA       Rodrgyo         Passe Precise
570  RMA    D.Ceballos         Passe Precise
572  RMA  J.Bellingham         Passe Precise
573  RMA   E.Camavinga         Passe Precise

[196 rows x 3 columns]

In [46]:
passes_precis_Home = passes_Home[passes_Home["Event"] == "Passe Precise"]
passes_precis_Home

    Team    Player          Event
0    MCI   B.Silva  Passe Precise
1    MCI   Ederson  Passe Precise
2    MCI    R.Dias  Passe Precise
3    MCI  M.Akanji  Passe Precise
4    MCI    R.Dias  Passe Precise
..   ...       ...            ...
497  MCI     N.Ake  Passe Precise
498  MCI    R.Dias  Passe Precise
499  MCI     N.Ake  Passe Precise
500  MCI    R.Dias  Passe Precise
555  MCI    R.Dias  Passe Precise

[223 rows x 3 columns]

In [47]:
passes_precis_Away = passes_Away[passes_Away["Event"] == "Passe Precise"]
passes_precis_Away

    Team        Player          Event
12   RMA    F.Valverde  Passe Precise
13   RMA   E.Camavinga  Passe Precise
26   RMA       Rodrgyo  Passe Precise
28   RMA      K.Mbappe  Passe Precise
48   RMA  A.Tchouameni  Passe Precise
..   ...           ...            ...
562  RMA       F.Mendy  Passe Precise
564  RMA       Rodrgyo  Passe Precise
570  RMA    D.Ceballos  Passe Precise
572  RMA  J.Bellingham  Passe Precise
573  RMA   E.Camavinga  Passe Precise

[162 rows x 3 columns]

In [48]:
total_passes_home = len(passes_Home)
total_passes_precis_home = len(passes_precis_Home)
print(f'Nombre Total de Passes (réussi): {total_passes_home}({total_passes_precis_home})')
pourcentage_passes_precis_home = (total_passes_precis_home * 100) / total_passes_home
print(f'{pourcentage_passes_precis_home:.2f}%')

Nombre Total de Passes (réussi): 255(223)
87.45%

In [49]:
total_passes_away = len(passes_Away)
total_passes_precis_away = len(passes_precis_Away)
print(f'Nombre Total de Passes (réussi): {total_passes_away}({total_passes_precis_away})')
pourcentage_passes_precis_away = (total_passes_precis_away * 100) / total_passes_away
print(f'{pourcentage_passes_precis_away:.2f}%')

Nombre Total de Passes (réussi): 196(162)
82.65%

In [50]:
types_de_tir = ['Tir Cadre', 'Tir non Cadre', 'Tir Bloce', 'Poteau']

In [51]:
tirs_home = df[(df['Team'] == home) & (df['Event'].isin(types_de_tir))]
print(tirs_home)
nbr_tir_home = len(tirs_home)
tirs_fra_cadre_home = df[(df['Team'] == home) & ((df['Event']=="Tir Cadre") | (df['Event']=='Poteau'))]
nbr_tir_cadre_home = len(tirs_fra_cadre_home)
print(f"Nombre de tirs(cadré): {nbr_tir_home}({nbr_tir_cadre_home})")

    Team     Player          Event
179  MCI    Savinho  Tir non Cadre
379  MCI    P.Foden      Tir Cadre
394  MCI  E.Haaland      Tir Bloce
397  MCI   M.Akanji         Poteau
Nombre de tirs(cadré): 4(2)

In [52]:
tirs_away = df[(df['Team'] == away) & (df['Event'].isin(types_de_tir))]
print(tirs_away)
nbr_tir_away = len(tirs_away)
tirs_fra_cadre_away = df[(df['Team'] == away) & ((df['Event']=="Tir Cadre") | (df['Event']=='Poteau'))]
nbr_tir_cadre_away = len(tirs_fra_cadre_away)
print(f"Nombre de tirs(cadré): {nbr_tir_away}({nbr_tir_cadre_away})")

    Team      Player          Event
133  RMA    K.Mbappe      Tir Cadre
148  RMA     F.Mendy      Tir Bloce
152  RMA  D.Ceballos  Tir non Cadre
258  RMA  ViniciusJR         Poteau
267  RMA     Rodrgyo      Tir Bloce
307  RMA  D.Ceballos  Tir non Cadre
475  RMA  F.Valverde      Tir Cadre
548  RMA    K.Mbappe      Tir Bloce
565  RMA    K.Mbappe  Tir non Cadre
Nombre de tirs(cadré): 9(3)

In [53]:
grosse_occ_home = df[(df['Team'] == home) & (df['Event']=="Grosse Occasion")]
nbr_grosse_occ_home = len(grosse_occ_home)
print(f"Grosse Occasions: {nbr_grosse_occ_home}")

Grosse Occasions: 4

In [54]:
grosse_occ_away = df[(df['Team'] == away) & (df['Event']=="Grosse Occasion")]
nbr_grosse_occ_away = len(grosse_occ_away)
print(f"Grosse Occasions: {nbr_grosse_occ_away}")

Grosse Occasions: 5

In [55]:
arr_gardien_home = df[(df['Team'] == home) & (df['Event']=="Arret du Gardien")]
nbr_arr_gardien_home = len(arr_gardien_home)
print(f"Arret du Gardient: {nbr_arr_gardien_home}")

Arret du Gardient: 1

In [56]:
arr_gardien_away = df[(df['Team'] == away) & (df['Event']=="Arret du Gardien")]
nbr_arr_gardien_away = len(arr_gardien_away)
print(f"Arret du Gardient: {nbr_arr_gardien_away}")

Arret du Gardient: 1

In [57]:
corner_home = df[(df['Team'] == home) & (df['Event']=="Corner")]
nbr_corner_home = len(corner_home)
print(f"Corners: {nbr_corner_home}")

Corners: 4

In [58]:
corner_away = df[(df['Team'] == away) & (df['Event']=="Corner")]
nbr_corner_away = len(corner_away)
print(f"Corners: {nbr_corner_away}")

Corners: 4

In [59]:
'''tacle_home = df[(df['Team'] == home) & (df['Event']=="Tackle")]
nbr_tacle_home = len(tacle_home)
print(f"Tacles: {nbr_tacle_home}")'''

'tacle_home = df[(df[\'Team\'] == home) & (df[\'Event\']=="Tackle")]\nnbr_tacle_home = len(tacle_home)\nprint(f"Tacles: {nbr_tacle_home}")'

In [60]:
'''tacle_away = df[(df['Team'] == away) & (df['Event']=="Tackle")]
nbr_tacle_away = len(tacle_away)
print(f"Tacles: {nbr_tacle_away}")'''

'tacle_away = df[(df[\'Team\'] == away) & (df[\'Event\']=="Tackle")]\nnbr_tacle_away = len(tacle_away)\nprint(f"Tacles: {nbr_tacle_away}")'

In [61]:
faute_home = df[(df['Team'] == home) & (df['Event']=="Faute")]
nbr_faute_home = len(faute_home)
print(f"Fautes: {nbr_faute_home}")

Fautes: 3

In [62]:
faute_away = df[(df['Team'] == away) & (df['Event']=="Faute")]
nbr_faute_away = len(faute_away)
print(f"Fautes: {nbr_faute_away}")

Fautes: 2

In [63]:
carton_jaune_home = df[(df['Team'] == home) & (df['Event']=="C.Jaune")]
nbr_carton_jaune_home = len(carton_jaune_home)
print(f'Cartons Jaune: {nbr_carton_jaune_home}')

Cartons Jaune: 0

In [64]:
carton_jaune_away = df[(df['Team'] == away) & (df['Event']=="C.Jaune")]
nbr_carton_jaune_away = len(carton_jaune_away)
print(f'Cartons Jaune: {nbr_carton_jaune_away}')

Cartons Jaune: 0

In [69]:
nbr_total_passes = total_passes_precis_home + total_passes_precis_away

possession_home = round((total_passes_precis_home / nbr_total_passes) * 100)
possession_away = round((total_passes_precis_away / nbr_total_passes) * 100)
print(f'Possession: {possession_home}% - {possession_away}%')

Possession: 58% - 42%

In [70]:
print("Manchester City vs Real Madrid : (1ére mi-temps)\n")
print(f'Nombre Total de Passes (réussi): {total_passes_home}({total_passes_precis_home}) {pourcentage_passes_precis_home:.2f}% - {total_passes_away}({total_passes_precis_away}) {pourcentage_passes_precis_away:.2f}%')
print(f'Possession: {possession_home}% - {possession_away}%')
print(f"Nombre de tirs(cadré): {nbr_tir_home}({nbr_tir_cadre_home}) - {nbr_tir_away}({nbr_tir_cadre_away})")
print(f"Grosse Occasions: {nbr_grosse_occ_home} - {nbr_grosse_occ_away}")
print(f"Arret du Gardient: {nbr_arr_gardien_home} - {nbr_arr_gardien_away}")
print(f"Corners: {nbr_corner_home} - {nbr_corner_away}")
print(f"Fautes: {nbr_faute_home} - {nbr_faute_away}")
print(f'Cartons Jaune: {nbr_carton_jaune_home} - {nbr_carton_jaune_away}')

Manchester City vs Real Madrid : (1ére mi-temps)

Nombre Total de Passes (réussi): 255(223) 87.45% - 196(162) 82.65%
Possession: 58% - 42%
Nombre de tirs(cadré): 4(2) - 9(3)
Grosse Occasions: 4 - 5
Arret du Gardient: 1 - 1
Corners: 4 - 4
Fautes: 3 - 2
Cartons Jaune: 0 - 0