In [96]:
import pandas as pd

In [97]:
df = pd.read_csv("FRAvsBEL.csv")
df.head()

  Team    Player                Event
0  FRA   L.Digne         Interception
1  FRA   L.Digne         Passe Perdue
2  FRA  J.Koundé         Interception
3  FRA  J.Koundé         Interception
4  FRA  J.Koundé  Longue Passe Perdue

In [98]:
player_event = df[["Player", "Event"]]
player_event

          Player                Event
0        L.Digne         Interception
1        L.Digne         Passe Perdue
2       J.Koundé         Interception
3       J.Koundé         Interception
4       J.Koundé  Longue Passe Perdue
..           ...                  ...
250     J.Koundé  Passe en Profondeur
251      N.Kanté            Tir Bloce
252  R.KoloMuani        Passe Precise
253    O.Dembélé               Corner
254     J.Koundé        Tir non Cadre

[255 rows x 2 columns]

# Pour Obtenir les stats d'un joueur spécifique

K_Mbappe = []

for index, player in df.iterrows():
    if player['Player'] == "K.Mbappe":
        K_Mbappe.append(player['Event'])
K_Mbappe

# Pour obtenir le nombre des Passes

In [99]:
types_de_passe = ["Passe Precise", "Passe Perdue", "Longue Passe Precise", "Longue Passe Perdue",
                "Passe en Profondeur","Centrage Precis", "Centrage non Precis", "Assiste"]

In [100]:
passes_Home = df[(df['Team'] == 'FRA') & (df['Event'].isin(types_de_passe))]
passes_Home

    Team       Player                Event
1    FRA      L.Digne         Passe Perdue
4    FRA     J.Koundé  Longue Passe Perdue
5    FRA    M.Maignan        Passe Precise
8    FRA      L.Digne        Passe Precise
9    FRA  M.Guendouzi        Passe Precise
..   ...          ...                  ...
247  FRA       M.Koné        Passe Precise
248  FRA  M.Guendouzi        Passe Precise
249  FRA      N.Kanté        Passe Precise
250  FRA     J.Koundé  Passe en Profondeur
252  FRA  R.KoloMuani        Passe Precise

[190 rows x 3 columns]

In [101]:
passes_precis_Home = passes_Home[passes_Home["Event"] == "Passe Precise"]
passes_precis_Home

    Team       Player          Event
5    FRA    M.Maignan  Passe Precise
8    FRA      L.Digne  Passe Precise
9    FRA  M.Guendouzi  Passe Precise
11   FRA    M.Maignan  Passe Precise
12   FRA      W.Salib  Passe Precise
..   ...          ...            ...
246  FRA  M.Guendouzi  Passe Precise
247  FRA       M.Koné  Passe Precise
248  FRA  M.Guendouzi  Passe Precise
249  FRA      N.Kanté  Passe Precise
252  FRA  R.KoloMuani  Passe Precise

[163 rows x 3 columns]

In [102]:
total_passes = len(passes_Home)
total_precis_passes = len(passes_precis_Home)
print(f'Nombre Total de Passes (réussi): {total_passes}({total_precis_passes})')
pourcentage_passes_precis = (total_precis_passes * 100) / total_passes
print(f'{pourcentage_passes_precis:.2f}%')

Nombre Total de Passes (réussi): 190(163)
85.79%

In [103]:
types_de_tir = ['Tir Cadre', 'Tir non Cadre', 'Tir Bloce']

In [104]:
tirs_fra = df[(df['Team'] == 'FRA') & (df['Event'].isin(types_de_tir))]
print(tirs_fra)
nbr_tir_fra = len(tirs_fra)
tirs_fra_cadre = df[(df['Team'] == 'FRA') & (df['Event']=="Tir Cadre")]
nbr_tir_cadre_fra = len(tirs_fra_cadre)
print(f"Nombre de tirs(cadré): {nbr_tir_fra}({nbr_tir_cadre_fra})")

    Team       Player          Event
53   FRA  M.Guendouzi      Tir Cadre
80   FRA     M.Thuram      Tir Cadre
93   FRA     M.Thuram  Tir non Cadre
103  FRA  R.KoloMuani  Tir non Cadre
116  FRA  M.Guendouzi      Tir Bloce
118  FRA  D.Upamecano  Tir non Cadre
136  FRA     M.Thuram      Tir Cadre
251  FRA      N.Kanté      Tir Bloce
254  FRA     J.Koundé  Tir non Cadre
Nombre de tirs(cadré): 9(3)

In [105]:
grosse_occ = df[(df['Team'] == 'FRA') & (df['Event']=="Grosse Occasion")]
nbr_grosse_occ = len(grosse_occ)
print(f"Grosse Occasions: {nbr_grosse_occ}")

Grosse Occasions: 1

In [106]:
arr_gardien = df[(df['Team'] == 'FRA') & (df['Event']=="Arret du Gardien")]
nbr_arr_gardien = len(arr_gardien)
print(f"Arret du Gardient: {nbr_arr_gardien}")

Arret du Gardient: 2

In [107]:
corner = df[(df['Team'] == 'FRA') & (df['Event']=="Corner")]
nbr_corner = len(corner)
print(f"Corners: {nbr_corner}")

Corners: 2

In [108]:
tacle = df[(df['Team'] == 'FRA') & (df['Event']=="Tackle")]
nbr_tacle = len(tacle)
print(f"Tacles: {nbr_tacle}")

Tacles: 0

In [109]:
faute = df[(df['Team'] == 'FRA') & (df['Event']=="Faute")]
nbr_faute = len(faute)
print(f"Fautes: {nbr_faute}")

Fautes: 5

In [110]:
carton_jaune = df[(df['Team'] == 'FRA') & (df['Event']=="C.Jaune")]
nbr_carton_jaune = len(carton_jaune)
print(f'Cartons Jaune: {nbr_carton_jaune}')

Cartons Jaune: 2

In [118]:
print("France vs Belgique:\n")
print(f'Nombre Total de Passes (réussi): {total_passes}({total_precis_passes}) {pourcentage_passes_precis:.2f}%')
print(f"Nombre de tirs(cadré): {nbr_tir_fra}({nbr_tir_cadre_fra})")
print(f"Grosse Occasions: {nbr_grosse_occ}")
print(f"Arret du Gardient: {nbr_arr_gardien}")
print(f"Corners: {nbr_corner}")
print(f"Fautes: {nbr_faute}")
print(f'Cartons Jaune: {nbr_carton_jaune}')

France vs Belgique:

Nombre Total de Passes (réussi): 190(163) 85.79%
Nombre de tirs(cadré): 9(3)
Grosse Occasions: 1
Arret du Gardient: 2
Corners: 2
Fautes: 5
Cartons Jaune: 2